@import "bootstrap/scss/bootstrap";

a.card {
  color: inherit;
  text-decoration: inherit;
}
a.card button {
    z-index: 1;
}
  

/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.bi {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  fill: currentcolor
}
